@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root {
  --font-1: 'Cardo', serif;
  --font-2: 'Lato', sans-serif;
  --heading-L: 10rem;
  --heading-M: 6rem;
  --pcolor: #E0DDCF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-2);
}

.navbar {
  position: fixed;
  margin-top: 1rem;
  z-index: 100;
  width: 100%;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.5rem;
  color: var(--pcolor);
  width: 15rem;
  margin: 0 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.2rem 0;
  letter-spacing: 0.1rem;
  position: relative;
  overflow: hidden;
}

.nav-link:hover {
  background-color: #000;
  border-radius: 80%;
  transition: ease-in 0.2s;
}

.page-btn {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: var(--pcolor);
  font-size: 4rem;
}

.left-btn {
  left: 4rem;
}

.left-btn img {
  transform: rotate(-90deg);
}

.right-btn {
  right: 4rem;
}

.right-btn img {
  transform: rotate(90deg);
}

.page-btn img {
  width: 4rem;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s;
}

.page-btn img:hover {
  opacity: 1;
}

.progress-wrapper {
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  left: 3rem;
}

.progress {
  margin: 1rem 0;
  text-align: center;
}

.progress h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--pcolor);
}

.circle-wrapper {
  display: flex;
}

.circle {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid var(--pcolor);
  border-radius: 50%;
  margin: 0 0.3rem;
  transition: background-color 0.3s;
}

.circle-1 {
  background-color: var(--pcolor);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: left 1.5s;
}

.section-1 {
  z-index: 50;
}

.section-wrapper {
  width: inherit;
  height: inherit;
  transform: scale(1.5);
  transition: all 2s;
}

.section-1-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/wb.jpg) center no-repeat;
  background-size: cover;
}

.section-1-heading-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1-heading {
  font-family: var(--font-1);
  font-size: var(--heading-L);
  font-weight: 300;
  color: var(--pcolor);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid #c6ad86;
  text-align: right;
  user-select: none;
}

.section-2 {
  z-index: 40;
}

.section-2-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/p1.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55rem;
}

.project-heading {
  font-family: var(--font-1);
  font-size: var(--heading-M);
  color: var(--pcolor);
  margin-bottom: 1rem;
}

.project-paragraph {
  font-size: 2rem;
  color: var(--pcolor);
  font-weight: 300;
}

.info-btn {
  width: 30rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: transparent;
  color: var(--pcolor);
  margin-top: 4rem;
  border: 0.1rem solid var(--pcolor);
  transition: background-color 0.2s;
}

.info-btn:hover {
  background-color: #000;
  cursor: pointer
}

.project-image {
  opacity: 0.6;
  width: 50rem;
}

.section-3 {
  z-index: 30;
  background-color: #000;
}

.section-3-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/p2.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3-heading {
  font-size: var(--heading-M);
  color: var(--pcolor);
  text-align: center;
}

.section-3-paragraph {
  font-size: 2rem;
  color: var(--pcolor);
  font-weight: 300;
  width: 55rem;
}

.frame-img {
  width: 100rem;
  position: absolute;
  opacity: 0.5;
}

.grapes-img {
  width: 40rem;
  position: absolute;
  opacity: 0.7;
  transition: all 1.5s;
}

.grapes-img:hover {
  opacity: 1;
  transform: scale(2);
}

.section-4 {
  z-index: 20;
}

.section-4-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-4-bg {
  width: 110%;
  height: 110%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/p3.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
  /* filter: blur(0.5rem); */
}

.section-4-heading {
  font-family: var(--font-1);
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--pcolor);
  user-select: none;
}

.new-wines-img {
  width: 70rem;
  border: 0.1rem solid var(--pcolor);
  padding: 1rem;
  opacity: 0.7;
}

/* MODAL */

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  font-weight: 200;
  letter-spacing: 1px;
  background-color: var(--pcolor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--pcolor);
  color: #000;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.model-content-header {
  font-size: 1.2rem;
  display: block;
  text-align: center;
}

.modal-content {
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

input:focus {
  outline: var(--pcolor);
}

div.register:first-child {
  margin-bottom: 0;
}

.register {
  margin-top: 0;
}

.register.success input {
  border-color: green;
}

.register.error input {
  border-color: red;
}

.register small {
  color: red;
  font-size: 1rem;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.register.error small {
  visibility: visible;
}

.close-btn {
  background: transparent;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.submit-btn {
  font-size: 1rem;
  font-weight: bold;
  color: green!important;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width:1000px) {
  .numbers {
    font-size: 400px;
  }
}

.section-5 {
  z-index: 10;
}

.section-5-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(images/p4.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list li {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--pcolor);
  margin: 1rem 0;
}

.footer-list li:first-child {
  text-transform: uppercase;
  color: var(--pcolor);
}

.footer-img {
  width: 60rem;
  margin: 0 20rem;
  opacity: 0.9;
}

.copyright {
  position: absolute;
  bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--pcolor);
  letter-spacing: 0.2rem;
}

@media (max-width: 1600px) {
  .footer-img {
    width: 45rem;
    margin: 0 12rem;
  }
}

@media (max-width: 1300px) {
  .footer-img {
    width: 35rem;
    margin: 0 10rem;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    margin: 0 1.5rem;
  }
  .section-1-heading-wrapper {
    width: 80%;
  }
  .section-1-heading {
    font-size: 8rem;
  }
  .sale-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.7rem;
  }
  .footer-img {
    width: 25rem;
    margin: 0 7rem;
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: start;
    padding-left: 2rem;
  }
  .menu {
    display: block;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-line {
    width: 100%;
    height: 0.3rem;
    background-color: var(--pcolor);
    transition: transform 0.5s;
  }
  .change .menu-line-1 {
    transform: rotate(40deg) translate(0.5rem, 1rem);
  }
  .change .menu-line-2 {
    transform: translate(-0.2rem, 2rem);
  }
  .change .menu-line-3 {
    transform: rotate(-40deg) translate(0.5rem, -1rem);
  }
  .nav-list {
    position: absolute;
    top: 5rem;
    right: -21rem;
    flex-direction: column;
    height: calc(100vh - 5rem);
    background-color: #333;
    justify-content: start;
    padding: 2rem;
    border-radius: 0.5rem 0 0 0;
    transition: right 0.5s;
  }
  .change .nav-list {
    right: 0;
  }
  .nav-link {
    margin: 1rem;
  }
  .section-2-wrapper {
    flex-direction: column;
  }
  .sale {
    order: 1;
  }
  .section-3-heading {
    font-size: 12rem;
  }
  .frame-img {
    width: 70rem;
  }
  .grapes-img {
    width: 25rem;
  }
  .section-4-heading {
    font-size: 8rem;
  }
  .new-wines-img {
    width: 60rem;
  }
  .section-5-wrapper {
    flex-direction: column;
  }
  .footer-img {
    width: 20rem;
    order: 1;
  }
  .footer-list {
    width: 20rem;
    margin: 2rem auto;
  }
}

@media (max-width: 800px) {
  .left-btn {
    left: 2rem;
  }
  .right-btn {
    right: 2rem;
  }
  .section-1-heading {
    font-size: 6rem;
  }
  .section-3-heading {
    font-size: 11rem;
    opacity: 0.7;
  }
  .frame-img {
    width: 60rem;
  }
  .new-wines-img {
    width: 45rem;
  }
  .progress-wrapper {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 4rem;
  }
  .sale-bag {
    width: 15rem;
  }
  .wine-bottle {
    width: 30rem;
  }
  .sale-btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.4rem;
  }
  .section-3-heading {
    font-size: 10rem;
  }
  .frame-img {
    width: 35rem;
  }
  .section-4-heading {
    font-size: 6rem;
  }
  .new-wines-img {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
  .left-btn {
    left: 0.5rem;
  }
  .right-btn {
    right: 0.5rem;
  }
  .nav-list {
    top: 6.5rem;
  }
  .section-3-heading {
    font-size: 8rem;
  }
}